{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "AWS CloudFormation Sample Template WordPress_Single_Instance: WordPress is web software you can use to create a beautiful website or blog. This template installs a single-instance WordPress deployment using a local MySQL database to store the data.",

  "Parameters" : {

    "KeyName" : {
      "Description" : "Name of an existing EC2 KeyPair to enable SSH access to the instances",
      "Type" : "String",
      "Default" : "lxiaojun"
    },

    "InstanceType" : {
      "Description" : "WebServer EC2 instance type",
      "Type" : "String",
      "Default" : "m1.small",
      "AllowedValues" : [ "m1.tiny", "m1.small", "m1.medium", "m1.large", "m1.xlarge" ],
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },

    "LinuxDistribution": {
      "Default": "ubuntu-cfntools-test",
      "Description" : "Distribution of choice",
      "Type": "String"
    }
  },

  "Resources" : {
    "WebServer": {
      "Type": "AWS::EC2::Instance",
      "Metadata" : {
        "AWS::CloudFormation::Init" : {
          "config" : {
            "packages" : {
              "apt" : {
                "apache2"  : []
              }
            },
            "services" : {
              "sysvinit" : {
                "apache2"  : { "enabled" : "true", "ensureRunning" : "true" }
              }
            }
          }
        }
      },
      "Properties": {
        "ImageId" : { "Ref" : "LinuxDistribution" },
        "InstanceType"   : { "Ref" : "InstanceType" },
        "KeyName"        : { "Ref" : "KeyName" },
        "UserData"       : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#!/bin/bash -v\n",
          "int1=`ifconfig |grep ", { "Fn::GetAtt" : [
          "server1_port1", "mac_address"]}, " |awk '{print $1}'`\n",
          "ifconfig eth0 ", { "Ref": "ip_address" }, "/24\n",
          "/opt/aws/bin/cfn-init\n"
        ]]}}
      }
    },
    "server1_port1" : {
      "Type": "OS::Neutron::Port",
      "Properties": {
        "network_id": "feb7cf63-2946-48b3-8146-85acef638376",
        "fixed_ips": [{
          "ip_address": "11.1.0.22"
        }]
      }
    }
  },


  "Outputs" : {
    "WebsiteURL" : {
      "Value" : { "Fn::Join" : ["", ["http://", { "Fn::GetAtt" : [ "WebServer", "PublicIp" ]}, "/wordpress"]] },
      "Description" : "URL for Wordpress wiki"
    }
  }
}
